services:
  user-communication-service:
    build: ./user-communication-service
    image: abdulazizibm/cloudcom-ms-repo:user-com-service-image
    container_name: user-com-service
    depends_on:
      - postgres
      - localstack
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - 8080:8080

  product-service:
    build: ./product-service
    image: abdulazizibm/cloudcom-ms-repo:product-service-image
    container_name: product-service
    depends_on:
      - postgres
      - localstack
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - 8081:8080
  cart-service:
    build: ./cart-service
    image: abdulazizibm/cloudcom-ms-repo:cart-service-image
    container_name: cart-service
    depends_on:
      - postgres
      - localstack
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      PRODUCT_SERVICE_URL: ${PRODUCT_SERVICE_URL}
    ports:
      - 8082:8080
  order-service:
    build: ./order-service
    image: abdulazizibm/cloudcom-ms-repo:order-service-image
    container_name: order-service
    depends_on:
        - postgres
        - localstack
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - 8083:8080
  payment-service:
    build: ./payment-service
    image: abdulazizibm/cloudcom-ms-repo:payment-service-image
    container_name: payment-service
    depends_on:
      - postgres
      - localstack
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ORDER_SERVICE_URL: ${ORDER_SERVICE_URL}
    ports:
      - 8084:8080

  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5433:5432

  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    environment:
      - SERVICES=sqs,sns
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    ports:
      - 4566:4566
    volumes:
      - localstack_data:/var/lib/localstack
volumes:
  postgres_data:
  localstack_data:

