services:
  gateway-service:
    build: ./spring-gateway
    image: ${REGISTRY}/${REPOSITORY}:gateway-service-image
    #image: gateway-service-image
    container_name: gateway-service
    restart: unless-stopped
    depends_on:
      - user-communication-service
      - order-service
      - product-service
      - cart-service
      - payment-service
    ports:
      - 80:8080

  user-communication-service:
    build: ./spring-microservices/user-communication-service
    image: ${REGISTRY}/${REPOSITORY}:user-com-service-image
    #image: user-com-service-image
    container_name: user-communication-service
    restart: unless-stopped
    depends_on:
      - postgres
      - localstack
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${AWS_RDS_ENDPOINT}/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
    expose:
      - 8081

  product-service:
    build: ./spring-microservices/product-service
    image: ${REGISTRY}/${REPOSITORY}:product-service-image
    #image: product-service-image
    container_name: product-service
    restart: unless-stopped
    depends_on:
      - postgres
      - localstack
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${AWS_RDS_ENDPOINT}/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
    expose:
      - 8082
  cart-service:
    build: ./spring-microservices/cart-service
    image: ${REGISTRY}/${REPOSITORY}:cart-service-image
    #image: cart-service-image
    container_name: cart-service
    restart: unless-stopped
    depends_on:
      - postgres
      - localstack
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${AWS_RDS_ENDPOINT}/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      PRODUCT_SERVICE_URL: ${PRODUCT_SERVICE_URL}
    expose:
      - 8083
  order-service:
    build: ./spring-microservices/order-service
    image: ${REGISTRY}/${REPOSITORY}:order-service-image
    #image: order-service-image
    container_name: order-service
    restart: unless-stopped
    depends_on:
        - postgres
        - localstack
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${AWS_RDS_ENDPOINT}/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
    expose:
      - 8084
  payment-service:
    build: ./spring-microservices/payment-service
    image: ${REGISTRY}/${REPOSITORY}:payment-service-image
    #image: payment-service-image
    container_name: payment-service
    restart: unless-stopped
    depends_on:
      - postgres
      - localstack
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${AWS_RDS_ENDPOINT}/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ORDER_SERVICE_URL: ${ORDER_SERVICE_URL}
    expose:
      - 8085
  ### For local development
  #postgres:
   # image: postgres:16
    #container_name: postgres_db
    #restart: unless-stopped
    #environment:
     #  POSTGRES_USER: ${DB_USER}
     # POSTGRES_PASSWORD: ${DB_PASSWORD}
     #POSTGRES_DB: ${DB_NAME}
    #volumes:
     # - postgres_data:/var/lib/postgresql/data
    #ports:
     # - 5433:5432

  ### For local dev
  #localstack:
   # image: localstack/localstack:latest
    #container_name: localstack
    #restart: unless-stopped
    #environment:
     # - SERVICES=sqs,sns
     #- AWS_ACCESS_KEY_ID=test
     #- AWS_SECRET_ACCESS_KEY=test
    #ports:
     # - 4566:4566
    #volumes:
     # - localstack_data:/var/lib/localstack
#volumes:
  #postgres_data:
  #localstack_data:

